<style media="screen">
  .scroll {
      z-index: 10000;
      display: none;
      height: 24px;
      background: #04265285;
      color: #fff;
      line-height: 24px;
      text-align: center;
      position: fixed;
      right: 30px;
      bottom: 30px;
      cursor: pointer;
      font-size: 14px;
  }
  .scroll:hover {
    border: 3px solid black;
    border-color: pink cyan transparent yellowgreen;
  }

</style>
<div class="scroll"> <i class="fa fa-arrow-up" style="margin-left: 4px;"></i>
Top⬆️
<span class="scrollpercent" style="margin-left: -2px;"></span>
<span style="margin-right: 4px; margin-left: -4px;">%</span>
</div>

<!-- https://www.huangpinke.com/2018/08/24/add-back-to-top-button.html -->